/* Configurações gerais */
:root {
    --board-width: 45vw;
    --board-height: 45vw;
    --evaluation-bar-width: 1.5vw;
    --square-size: 100%;
    --side-board-width: 25vw;
    --side-board-height: 45vw;
    --margin-left-board: .75vw;
    --board-width-1200: 40vw;
    --pmove-review-height: 25px;
    --light: #f0d9b5;
    --dark:  #b58863;
    --highlight-square: rgba(235, 97, 80, 0.8);
    --highlight-square-2: rgba(255, 255, 51, 0.5);
    --accent: rgba(80, 160, 255, 0.25);
    --board-bg-no-opacity: rgba(49, 46, 43);
    --board-bg: rgba(49, 46, 43, 0.5);
    --font-color-1: white;
    --font-color-2: aliceblue;
    --color-review-1: rgb(38, 194, 163);
    --color-review-2: rgb(116, 155, 191);
    --color-review-3: rgb(213, 164, 125);
    --color-review-4: rgb(90, 165, 69);
    --color-review-5: rgb(90, 165, 69);
    --color-review-6: rgb(129, 182, 76);
    --color-review-7: rgb(247, 198, 49);
    --color-review-8: rgb(255, 164, 89);
    --color-review-9: rgb(255, 119, 105);
    --color-review-10: rgb(250, 65, 45);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height: 100%;
    background-image: url("../images/background_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.board-main {
    display: flex;
    flex-direction: column;
    background: var(--board-bg);
    border-radius: 4px;
    height: var(--board-height);
    width: var(--board-width);
    justify-content: center;
}

.board-player {
    position: relative;
    height: 5%;
    width: 100%;
    left: 0;
    font-size: 11pt;
    color: var(--font-color-1);
    font-weight: bold;
}

.board-player.top span {
    position: absolute;
    bottom: 3px;
    left: calc(var(--evaluation-bar-width) + var(--margin-left-board) * 2);
}

.board-player.bottom span {
    position: absolute;
    top: 3px;
    left: calc(var(--evaluation-bar-width) + var(--margin-left-board) * 2);
}

.board-middle {
    display: flex;
    align-items: flex-start; 
}

.board-evaluation-bar {
    display: flex;
    flex-direction: column;
    height: calc(var(--board-width) - 5.75vw);
    width: var(--evaluation-bar-width);
    margin-left: var(--margin-left-board);
}

.white-bar {
    position: relative;
    background-color: white;
    height: 100%;
    width: var(--evaluation-bar-width);
}

.black-bar {
    position: relative;
    background-color: var(--board-bg-no-opacity);
    height: 50%;
    width: var(--evaluation-bar-width);
    transition: height 0.8s ease;
}

.board-chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: calc(var(--board-width) - 5.75vw);
    width: auto;
    aspect-ratio: 1 / 1;
    margin-left: var(--margin-left-board);
}

.square {
    display:flex;
    align-items:center;
    justify-content:center;
    height: var(--square-size);
    width: var(--square-size);
    line-height: 1;
    cursor: default;
    position: relative;
    transition: box-shadow .12s ease, outline .12s ease;
}

.square.light{ background-color: var(--light); }
.square.dark{ background-color: var(--dark); }

.square.selected-highlight div { 
    width: 100%;
    height: 100%;
    background-color: var(--highlight-square); 
}

.square.highlight div {
    width: 100%;
    height: 100%;
    background-color: var(--highlight-square-2); 
}

.square:hover::after{
    background: var(--accent);
    mix-blend-mode: overlay;
}

.square img {
    width: 100%;
    height: auto;
    position: absolute;
}

.classificons {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 2px;
    top: -15%;
    right: -10%;
    width: 25%;
    z-index: 900;
} 

.coord {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 2px;
}

.coord.top-left {
    top: 2px;
    left: 2px;
}

.coord.bottom-right {
    bottom: 2px;
    right: 2px;
}

.coord_dark { color: var(--dark) }
.coord_light { color: var(--light) }

.eval-num {
    position: absolute;
    font-size: .65vw;
    font-weight: bold;
    border-radius: 2px;
    padding-left: 20%;
}

.eval-num.top { top: 2px }
.eval-num.bottom { bottom: 2px}
.eval-num.white { color: white }
.eval-num.dark { color: black }

.side_board {
    display: flex;
    flex-direction: column;
    width: var(--side-board-width);
    height: var(--side-board-height);
    background: var(--board-bg);
    border-radius: 4px;
}

.review {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    height: 65%;
    width: 90%;
    margin-left: 5%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
}

.control-btn {
    width: 18%;
    height: 60%;
    background-color: var(--board-bg);
    border-radius: 4px;
    font-size: 18pt;
    border: none;
    color: var(--font-color-1);
    outline: none;
}

.control-btn:hover {
    cursor: pointer;
    background-color: var(--board-bg-no-opacity);
}

.control-btn img {
    display: relative;
    height: 60%;
    width: auto;
}

/*TODO: still need to be reworked*/
@media (max-width: 1250px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .board-main {
        height: var(--board-width-1200);
        width: var(--board-width-1200);
    }

    .side_board {
        display: flex;
        flex-direction: column;
        width: var(--board-width-1200);
        height: var(--board-width-1200);
    }

    .board-chessboard {
        height: calc(var(--board-width-1200) - 5vw);
    }
}

.top-bar {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border-radius: 4px;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    height: 30%;
}

.tab button {
    background-color: var(--board-bg);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px 10px;
    color: var(--font-color-1);
    font-size: medium;
    width: 49%;
    border-radius: 4px;
}

.tab button:hover {
    background-color: var(--board-bg-no-opacity);
}

.tab button.active {
    background-color: #ccc;
    color: black;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: var(--board-bg);
    height: 70%;
}

.tabcontent textarea {
    background-color: transparent;
    border-radius: 4px;
    border: var(--font-color-2) solid 1px;
    color: var(--font-color-2);
    outline: none;
    width: 100%;
    height: 50%;
}

.tabcontent div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabcontent input {
    background-color: transparent;
    border-radius: 4px;
    border: var(--font-color-2) solid 1px;
    outline: none;
    width: 60%;
    height: 30%;
    color: var(--font-color-2);
    font-size: 12pt;
    padding-left: .75rem;
}

.tabcontent label {
    padding-right: 0.5rem;
    color: var(--font-color-2);
}

.search-btn {
    width: 35%;
    height: 3rem;
    background-color: var(--board-bg);
    border-radius: 4px;
    font-size: 14pt;
    border: none;
    color: var(--font-color-1);
    outline: none;
    margin-top: .5rem;
}

.search-btn:hover {
    cursor: pointer;
    background-color: var(--board-bg-no-opacity);
    border: var(--font-color-2) solid 1px;
}

.players-review {
    display: flex;
}

.p-move-review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--pmove-review-height);
    border: 2px solid transparent;
    margin-top: 5px;
    font-weight: 900;
    cursor: pointer;
}

.p-move-review.head {
    height: calc(var(--pmove-review-height) + 70px);
    border-bottom: var(--font-color-2) solid 1px;
}

.p-review {
    display: flex;
    flex-direction: column;
    color: var(--font-color-2);
    width: 35%;
    align-items: start;
    justify-content: center;
    font-size: .90rem;
    font-weight: 900;
}

.p-review.label {
    width: 30%;
    padding-left: 20px;
}

.p-review.accuracy {
    align-items: center;
}


.p-review.accuracy .player-name {
    font-size: .80rem;
}

.p-review.accuracy .player-acc {
    font-size: 1rem;
}

.pm-review {
    display: flex;
    justify-content: center;
    width: 35%;
}

.p-move-review.brilliant {color: var(--color-review-1)}

.p-move-review.brilliant:hover {
    border: var(--color-review-1) solid 2px;
    border-radius: 3px;
}

.p-move-review.great {color: var(--color-review-2)}

.p-move-review.great:hover {
    border: var(--color-review-2) solid 2px;
    border-radius: 3px;
}

.p-move-review.book {color: var(--color-review-3)}

.p-move-review.book:hover {
    border: var(--color-review-3) solid 2px;
    border-radius: 3px;
}

.p-move-review.best {color: var(--color-review-4)}

.p-move-review.best:hover {
    border: var(--color-review-4) solid 2px;
    border-radius: 3px;
}

.p-move-review.excellent {color: var(--color-review-5)}

.p-move-review.excellent:hover {
    border: var(--color-review-5) solid 2px;
    border-radius: 3px;
}

.p-move-review.good {color: var(--color-review-6)}

.p-move-review.good:hover {
    border: var(--color-review-6) solid 2px;
    border-radius: 3px;
}

.p-move-review.inaccuracy {color: var(--color-review-7)}

.p-move-review.inaccuracy:hover {
    border: var(--color-review-7) solid 2px;
    border-radius: 3px;
}

.p-move-review.mistake {color: var(--color-review-8)}

.p-move-review.mistake:hover {
    border: var(--color-review-8) solid 2px;
    border-radius: 3px;
}

.p-move-review.miss {color: var(--color-review-9)}

.p-move-review.miss:hover {
    border: var(--color-review-9) solid 2px;
    border-radius: 3px;
}

.p-move-review.blunder {color: var(--color-review-10)}

.p-move-review.blunder:hover {
    border: var(--color-review-10) solid 2px;
    border-radius: 3px;
}
