{% extends 'base.html' %}

{% block board %}
	<div class="board-main">
		<div id="bp-name-1" class="board-player top"></div>
		<div class="board-middle">
			<div class="board-evaluation-bar">
				<div class="white-bar"><span class="eval-num top dark">+0.2</span></div>
				<div class="black-bar"><span class="eval-num bottom white">-0.0</span></div>
			</div>
			<div class="board-chessboard">
				{% for i in range(7, -1, -1) %}
					{% for y in range(8) %}
						{% set id = i * 8 + y %}
						{% set even = (i + y) % 2 == 0 %}
						<div id="{{ id }}" class="square {% if even %}dark{% else %}light{% endif %}">
							{% if board.ranks[id] %}
								<span class="coord top-left coord_{% if even %}light{% else %}dark{% endif %}">
									{{ board.ranks[id] }}
								</span>
							{% endif %}
							{% if board.files[id] %}
								<span class="coord bottom-right coord_{% if even %}light{% else %}dark{% endif %}">
									{{ board.files[id] }}
								</span>
							{% endif %}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<div id="bp-name-2" class="board-player bottom"></div>
	</div>
	
	{% include 'side-board.html' %}

{% endblock %}
