{% extends 'base.html' %}

{% block board %}
	<div class="board-main">
		<div id="bp-name-1" class="board-player top"></div>
		<div class="board-middle">
			<div class="board-evaluation-bar">
				<div class="white-bar"><span class="eval-num top dark">+0.2</span></div>
				<div class="black-bar"><span class="eval-num bottom white">-0.0</span></div>
			</div>
			<div class="board-chessboard">
				{% for i in range(64) %}
					{% set even = ((i // 8) + (i % 8)) % 2 == 0 %}
					<div id="{{ i }}" class="square {% if even %}light{% else %}dark{% endif %}">
						{% if board.ranks[i] %}
							<span class="coord top-left coord_{% if even %}dark{% else %}light{% endif %}">
								{{ board.ranks[i] }}
							</span>
						{% endif %}
						{% if board.files[i] %}
							<span class="coord bottom-right coord_{% if even %}dark{% else %}light{% endif %}">
								{{ board.files[i] }}
							</span>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div id="bp-name-2" class="board-player bottom"></div>
	</div>
	
	{% include 'side-board.html' %}

{% endblock %}
